.box {
    max-width: 800px;
    margin: 100px auto;
    padding: 40px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(21, 87, 192, 0.3);
    backdrop-filter: blur(8px);
    text-align: center;
    color: #fff;
    animation: fadeIn 1s ease;
}

body,
html,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}



.box__title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 2px 4px #1557c0;

    @media (max-width: 400px) {
        font-size: 25px;
    }
}

.box__text1,
.box__text2 {
    font-size: 18px;
    line-height: 1.6;
    color: #ddd;
    margin-bottom: 20px;

    @media (max-width: 400px) {
        font-size: 17px;
    }
}

.box__btn {
    padding: 12px 28px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background-color: #1557c0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
        background-color: #1e6ef2;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.98);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body,
#root {
    height: 100vh;
    margin: 0;
}

@media (max-width: 600px) {
    .box {
        margin: 40px 16px;
        padding: 24px;
        max-width: 100%;
        border-radius: 16px;
        backdrop-filter: blur(4px);
        box-shadow: 0 6px 16px rgba(21, 87, 192, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column
    }

    .box__title {
        font-size: 22px;
        margin-bottom: 16px;
    }

    .box__text1,
    .box__text2 {
        font-size: 16px;
        line-height: 1.5;
    }

    .box__btn {
        padding: 10px 20px;
        font-size: 15px;
    }
}